body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: url("./images/bg-3.jpg");
  background-size: cover;
}

.slider-container {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px;
}

.image-container {
  display: flex;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 20px;
  opacity: 0.5;
}

.btn.prev {
  left: 10px;
}
